@font-face {
    font-family: Gothic;
    src: url('./fonts/gothicb.ttf');
}
*{
    font-family: Gothic;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* écraser le reboot bootstrap */
p{
    margin-bottom: 0px;
    font-size: clamp(0.5625rem, 0.4324rem + 0.6306vw, 1rem);
}
header{
    height: 57.9px;
}
body{
    width: 100vw;
    height: 100vh;
}
h1, h2,h3, h4, h5, h6{
    /* !important pour écraser le css de bootstrap */
    font-size: clamp(0.875rem, 0.6892rem + 0.9009vw, 1.5rem) !important;
        margin-top: 0;
        margin-bottom: 0;
        font-weight:500;
        line-height: 1;
    
}

span{
    font-size: clamp(0.875rem, 0.6892rem + 0.9009vw, 1.5rem) !important;
    font-weight: 400;
}



.header-logo-wrapper{
    justify-self: start;
    width: 46px;
    height: 44px;
    background-color: white;
    border: 1px solid #000000
    
}

.logo-small{
    width: 46px;
    height: 44px;
    
}

h1{
    font-family: Gothic;
}
h1>span{
    
    font-weight: lighter;
}
.nav-bg-color{
    background-color: #E3001B;
}
nav>ul>li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

a{
    color: #000000;
    text-decoration: none;
}

section.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(./public/hero-bg.jpg) no-repeat top center  ;
    background-size: cover;
    width: 100vw;
    height: 495px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-white{
    width: 120px;
    height: 40px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.3s ease;
    
}
.button-white:hover{
    background-color: white;
    color: #000000;
    border: 0px ;
}

section.description{
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(204px, 45vh, 495px);
}
.square-wrapper{
    width: 80.3%;
    height: 58.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.red-square{
    display: flex;
    justify-content: center;
    height: 30%;
    width: 75%;
    padding-inline: 5px;
    padding-block: 10px;
    background-color: #E3001B;
    transform: translateX(-28px);
}
.red-square>p{
    font-size: clamp(0.875rem, 0.6892rem + 0.9009vw, 1.5rem);
    font-family: Gothic;
}
.black-square{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 75%;
    padding-block: 10px;
    padding-inline: 5px;
    background-color: #181818;
    transform: translateX(28px);
    transform: translateY(-45px);
}
.black-square>p{
    font-size: clamp(0.5625rem, 0.4324rem + 0.6306vw, 1rem);
    color: #FFFFFF;
    text-align: justify;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.actions{
    background-color: #E3001B;
}
.img-wrapper{
    display: flex;
    justify-content: center;
}

.actions img{
    width: 90%;
    margin-bottom: 30px;
}
.title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 9%;
    margin-inline: auto;
    height: 40px;
    background-color: #181818;
    width: 90%;
    
}
.actions h2{
    color: white;
}
section.news{
    background-color: #181818;
}
.img-wrapper{
    display: flex;
    justify-content: center;
    width: 90%;
}

.news img{
    /* width: 90%; */
    margin-bottom: 30px;
}
.news > .title-wrapper{
    background-color: #FFFFFF;
}
.news h2{
    color: #000000;
}

footer{
    padding-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.logo-wrapper img{
    width: 200px;
}
.footer-menu>ul>li{
    list-style: none;
    text-decoration: none;
}

/* texte au survol */
.hover-text{
    display: none;
}

.hovering{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:absolute;
    background-color: hsla(0, 0%, 9%, 0.589);
    color: white;
    padding: 15px;
    gap: 15px;
}

.hovering p{
    text-align: center;
    pointer-events: none;
    /* padding-block: 10px; */
}

@media screen and (min-width:610px) {
    .black-square{
        height: 150px;
        transform: translateY(-60px);
    }
    .red-square{
        
        height: 150px;
    }
    .title-wrapper{
        height: 70px;
    }
}


/* Page News */
.news-title{
    color: white;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    border-top: #FFFFFF 1px solid;
    padding-block: 20px;
    gap: 20px;
}
.article-title{
    color: white;
    text-align: center;
}
article img{
    width: 90%;
    object-fit:fill;
}

article p{
    color: white;
    text-align: justify;
    width: 90%;

    
}